Repository IFA-01/HomeWork-WeatherApp-hw07: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests --bail

.lintstagedrc.json:

{
  "src/**/*.js": [
    "prettier --write",
    "eslint --fix",
    "jest --findRelatedTests --bail",
    "git add"
  ],
  "src/**/*.{css,html}": ["prettier --write", "git add"]
}

Deploy: Merge pull request #1 from IFA-01/dev
  bundle.0331b667dbeb9c71054f.js
  bundle.0331b667dbeb9c71054f.js.LICENSE.txt
  bundle.efff2a780733748dcaa0.js
  index.html
Due: none

Changed files. Empti files deleted or corrected
  .github/workflows/ci.yml
  src/controller.js
  src/index.js
  src/render.js
  src/script.test.js
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

Refactored app
  .github/workflows/ci.yml
  src/controller.js
  src/index.html
  src/index.js
  src/model.js
  src/render.js
  src/script.js
  src/script.test.js
  src/view.js
  webpack.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

Changed files. Empti files deleted or corrected 2
  .github/workflows/ci.yml
Due: none

added test for index.js
  src/script.test.js
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

fix: format ci.yml for prettier
  .github/workflows/ci.yml
Due: none

Deploy: added test for index.js 69248a77ced996baa58b59106638147f87289ee8
  bundle.0331b667dbeb9c71054f.js
  bundle.efff2a780733748dcaa0.js
  bundle.efff2a780733748dcaa0.js.LICENSE.txt
  index.html
Due: none

Refactured App, remade it with ES6 modules, EventBus added
  .babelrc.js
  jest.config.cjs
  jest.setup.js
  package-lock.json
  package.json
  src/controller.js
  src/eventBus.js
  src/index.js
  src/index.test.js
  src/model.js
  src/script.test.js
  src/view.js
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

jest configured for ES6, Tests for eventBus
  jest.setup.js
  package.json
  src/eventBus.js
  src/index.js
  src/index.test.js
  src/view.js
  webpack.config.cjs
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

webpack and babelrc config files set up to meet prettierrc
  .babelrc.js
  webpack.config.cjs
Due: none

Deploy: webpack and babelrc config files set up to meet prettierrc 0cdba058720ce72c28c514f7c5012b42f25a5048
  bundle.8848f83e1f2ad22371c5.js
  bundle.8848f83e1f2ad22371c5.js.LICENSE.txt
  bundle.efff2a780733748dcaa0.js
  index.html
Due: none

Updated jest treshold
  jest.config.cjs
  src/index.html
  webpack.config.cjs
Due: prettier --write

Updated jest treshold for EventBus
  jest.config.cjs
Due: none

Routes added. History added. About page addeed
  jest.config.cjs
  jest.setup.js
  package.json
  src/controller.js
  src/index.html
  src/router.js
  src/router.test.js
  src/script.test.js
  src/style.css
  src/view.js
  src/view.test.js
  webpack.config.cjs
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

Added Routes branch to CI.yml
  .github/workflows/ci.yml
Due: none

Prettier errors resolved, trying to push
  eslint.config.mjs
  jest.setup.js
  webpack.config.cjs
Due: none

Remade project with typescript.
  jest.config.cjs
  package-lock.json
  package.json
  src/controller.ts
  src/eventBus.ts
  src/index.ts
  src/model.ts
  src/router.ts
  src/script.test.js
  src/view.test.js
  src/view.ts
  tsconfig.json
  webpack.config.cjs
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

CI.yml update
  .github/workflows/ci.yml
Due: none

Prettier warns corrected
  .github/workflows/ci.yml
  jest.config.cjs
Due: none

added 404 rout. deploy to gh pages from gh actions
  .github/workflows/ci.yml
  src/404.html
  src/router.js
  webpack.config.cjs
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

added 404 rout. deploy to gh pages from gh actions 2
  src/404.html
  src/router.js
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

corrected ci.yml for deploy to GH Pages
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/.nojekyll
  src/404.html
Due: prettier --write

corrections to deploy to gh pages
  .github/workflows/ci.yml
Due: none

redeploy to gh pages
  .github/workflows/ci.yml
Due: none

ci.yml prettier fix
  .github/workflows/ci.yml
Due: none

corrections to ci.yml
  .github/workflows/ci.yml
Due: none

React migration. Tests added.
  .babelrc.js
  .github/workflows/ci.yml
  .nvmrc
  jest.config.cjs
  jest.setup.js
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/controller.ts
  src/hooks/useHistory.test.ts
  src/hooks/useHistory.ts
  src/hooks/useWeather.test.ts
  src/hooks/useWeather.ts
  src/reactRoot.tsx
  src/script.test.js
  src/types/weather.d.ts
  tsconfig.json
  webpack.config.cjs
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

gh pages
  .github/workflows/ci.yml
Due: none

corrected errors with styles and deployment. route About corrected
  .github/workflows/ci.yml
  src/App.tsx
  src/index.html
Due: prettier --write

corrected errors with styles and deployment. route About corrected
  src/index.html
Due: prettier --write

corrected errors with styles and deployment. route About corrected, prettier errors corrected
  src/App.tsx
Due: none

Tests added to meet treshold
  src/App.test.tsx
  src/hooks/useWeather.test.ts
Due: none

Tests added to meet treshold. prettier sybau
  src/App.test.tsx
Due: none

Tests added to meet treshold. prettier sybau 2
  src/hooks/useWeather.test.ts
Due: none

Implement React Router navigation for weather views
  package-lock.json
  package.json
  src/404.html
  src/App.test.tsx
  src/App.tsx
  src/components/WeatherMap.test.tsx
  src/components/WeatherMap.tsx
  src/components/WeatherSearchForm.test.tsx
  src/components/WeatherSearchForm.tsx
  src/hooks/useWeather.ts
  src/index.html
  src/model.ts
  src/style.css
  src/types/weather.d.ts
Due: prettier --write

prettier warns corrected
  .github/workflows/ci.yml
  src/App.test.tsx
  src/App.tsx
  src/components/WeatherMap.test.tsx
  src/components/WeatherMap.tsx
  src/components/index.ts
Due: none

Fix GitHub Pages deploy trigger branch
  .github/workflows/ci.yml
Due: none
